{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="{% static 'blog/css/vuetify.min.css' %}" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <script src="{% static 'blog/js/vue.js' %}"></script>
    <script src="{% static 'blog/js/vuetify.js' %}"></script>
    <script src="{% static 'blog/js/app.js' %}"></script>
</body>
</html> 